[submodule "src/References/VL.StandardLibs"]
	path = src/References/VL.StandardLibs
	url = git@github.com:vvvv/VL.StandardLibs.git
	branch = main
[submodule "src/References/managedCuda"]
	path = src/References/managedCuda
	url = git@github.com:kunzmi/managedCuda.git
	branch = master
[submodule "src/References/ILGPU"]
	path = src/References/ILGPU
	url = git@github.com:m4rs-mt/ILGPU.git
[submodule "src/References/The-Gray-Book"]
	path = src/References/The-Gray-Book
	url = https://github.com/vvvv/The-Gray-Book.git
